<!-- <p>details works!</p> -->
<body>
    <div class="shop-category">
        <div class="item-img">
            <img src="data:image/jpg;base64,{{item.image}}"/>
            <p>{{item.itemName}}</p>
            <p>{{item.rating}}</p>
            <button class="btn1" type="button" (click)="transactionDisplay()" >Buy Now</button>
            <button class="btn1" type="button" (click)="addCoupon()" >Add Coupon</button>
            <!-- <button class="btn2" type="button" (click)="addToCart(item.itemId)">Add to Cart</button> -->
        </div>
    </div>
</body>
