<p>news works!</p>
<!-- <body>
<div class="news-card">
    <div class="news-image">
      <img src="../../assets/back2.jpg" alt="News Image">
    </div>
    <div class="news-content">
      <h2 class="news-title">Breaking News Title</h2>
      <p class="news-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam nunc.</p>
      <p class="news-date">Published on: September 21, 2023</p>
    </div>
  </div>
</body> -->
<body>
    <div class="container">
        <div class="wrapper">
            <div class="wrapper-holder">
                <div id="img1"></div>
                <div id="img2"></div>
                <div id="img3"></div>
                <div id="img4"></div>
                <div id="img5"></div>
            </div>
            
        </div>
        <div class="news-content">
            <h2 class="news-title">Breaking News Title</h2>
            <p class="news-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam nunc.</p>
            <p class="news-date">Published on: September 21, 2023</p>
          </div>
        <div class="button-holder">
            <a href="#img1" class="button"></a>
            <a href="#img2" class="button"></a>
            <a href="#img3" class="button"></a>
            <a href="#img4" class="button"></a>
            <a href="#img5" class="button"></a>
        </div>
    </div>
</body>