<!-- <p>navbar works!</p> -->
<header>
    <!-- <a href="#" class="logo">D&C</a> -->
    <div class="logo">
        <img src="../../assets/growth.png" alt="" srcset="">
        <span>D&C</span>
    </div>
    <nav class="navbar">
        <a href="#" routerLink="/">Home</a>
        <a href="#" routerLink="/coupons">Coupons</a>
        <a href="#" routerLink="/news">News</a>
        <a href="#" routerLink="/about">About Us</a>

        <div class="btn" *ngIf="isLogin; else elseBlock">
            <button id="profile" routerLink="/profile">Profile</button>
        </div>

        <ng-template #elseBlock>

            <div class="btn">
                <button id="login" routerLink="/login">Login</button>
                <button id="sign" routerLink="/register">Register</button>
            </div>
        </ng-template>
    </nav>
</header>

<router-outlet></router-outlet>